@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-title: #464646;
    --color-desc: #A3A3A3;
    --color-card: #FFFFFF;
    --btn-primary : #FFB050;
    --btn-secondary: #ECECEC;
    --btn-tertiary: #4894FF;
    --font-primary: "Montserrat", serif;
}

html {
    font-family: var(--font-primary);
    font-size: 62.5%;
    
}

body {
    background-image: linear-gradient(to bottom right, #F8F4FF, #EFF0F4);
    padding: 0 1.6rem;
}